i {
    color: whitesmoke;
    margin-left: 2vw;
    margin-right: 2vw
}

.btn{
    font-size:0.75em;
}

.brand-logo{
    margin:auto;
}

#headshot, #intro{
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:1.2em;
    padding:1vh
}