.header{
    color: #ffffff;
    background-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 14px 16px;
    width:100%;
    height: 46px;
    overflow: visible;
}

#name{
    background-color: #4aaaa5;
    top: -14;
    left:-16;
    height: 46px;
    width: 100px;
    position: relative;
    line-height: 3;
}

.header a{
    float: left;
    text-align: center;
    color: #ffffff;
    background-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 14px 16px;
}

.header a:hover{
    background-color: #ddd;
    color: black;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 14px 16px;
}

footer{
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 14px 16px;
    float:center;
    color: white;
    text-align: center;
    position: relative;
    width:100%;
    bottom: 0;
    height:auto;
}

.main_content{
    background-color: #ffffff;
    border-color: #dddddd;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    float:center;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #ffffff;
    background-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 14px 16px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #ffffff;
    background-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
    
    
}


.dropdown:hover .dropdown-content {
    display: block;
    color: black;
    background-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 10px;
    overflow: hidden;
}

body{
    padding-bottom:60px;
    max-width: 960px;
}

.container {
    position: relative;
    width: auto;
    text-align:right;
  }
  
  .image {
    width: 50%;
    float:center;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 50%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: wrap; 
    color: white;
    font-size: 24px;
    text-align:center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }